---
import Layout from "../../layouts/Layout.astro";
import Header from "../../components/Header.astro";
import PreFooter from "../../components/PreFooter.astro";
import Footer from "../../components/Footer.astro";
import i18next, { t, changeLanguage } from "i18next";
import BentoUnity from "../../components/BentoUnity.astro";

changeLanguage("en");
---

<Layout 
title={t("layout.title")}
description={t("layout.description")}
lang={i18next.language}>
	<main transition:animate="slide">
		<Header />
        <BentoUnity/>
		<PreFooter/>
	</main>
	<Footer />
</Layout>

<style>
	
</style>
