---
import Intro from "../components/Intro.astro";
import Layout from "../layouts/Layout.astro";
import Header from "../components/Header.astro";
import Stack from "../components/Stack.astro";
import BentoGrid from "../components/BentoGrid.astro";
import PreFooter from "../components/PreFooter.astro";
import Footer from "../components/Footer.astro";
import i18next, { t, changeLanguage } from "i18next";

changeLanguage("es");

const anim = {
    old: {
        name: "fadeIn",
        duration: "0.2s",
        easing: "linear",
        fillMode: "forwards",
    },
    new: {
        name: "fadeOut",
        duration: "0.3s",
        easing: "linear",
        fillMode: "backwards",
    }
};
const myFade = {
    forwards: anim,
    backwards: anim,
};
---

<Layout 
title={t("layout.title")}
description={t("layout.description")}
lang={i18next.language}>
	<main transition:animate={myFade}>
		<Header />
		<Intro url='/images/retrato.jpg' alt={t("intro.alt")} />
		<Stack />
		<BentoGrid/>
		<PreFooter/>
	</main>
	<Footer />
</Layout>

<style>
	
</style>
