---
import Intro from '../components/Intro.astro';
import Layout from '../layouts/Layout.astro';
---

<Layout title="Welcome to Astro.">
	<main>
		<Intro url='/images/retrato.jpg' alt='Foto de Jimmy Berrios Gallo' />
		<!-- <Stack />
		<Projects />
		<PreFooter />
		<Footer /> -->
	</main>
</Layout>

<style>
	
</style>
