---
import BentoItem from "./BentoItem.astro";
---

<h1 id="projects" class="text-center text-4xl text-white py-4 font-bold" >Proyectos</h1>
<section
  class="w-full max-w-[1000px]
grid grid-cols-12 auto-rows-[35rem] gap-4
mx-auto py-20 font-semibold"
>
  <BentoItem title="Fabrica de api's" class="col-span-12 md:col-span-5">
    <div
      slot="image"
      class="absolute left-0 top-0 bottom-0 w-full h-full
    group-hover:scale-110 transition-scale duration-1000
    ease-in-out opacity-90 bg-blend-luminosity bg-slate-950/50 bg-center bg-cover
    bg-no-repeat -z-10"
      style="background-image: url('/mallplaza.svg');"
    >
    </div>
    <p slot="content" class="max-w-xl text-justify">
      Uno de los últimos proyectos en el que nos dedicamos a crear <strong
        >api's para integracion entre sap y salesforce y viceversa</strong
      >. Todo esto creando componentes en <strong>Java y SpringBoot</strong> y
      desplegandolos en <strong>cloud run's en GCP</strong>. Manejamos la
      <strong>trazabilidad</strong> de las api's <strong
        >subiendo los logs a Datadog en formato JSON</strong
      >.
    </p>
    <h4 slot="stack">
      Tech stack: Java, springboot, GCP: cloud run , Datadog.
    </h4>
  </BentoItem>
  <BentoItem
    title="Portafolio Jimmy Dev"
    subtitle="Mi portafolio hecho con Astro"
    class="col-span-12 md:col-span-7"
  >
    <div
      slot="image"
      class="absolute left-0 top-0 bottom-0 w-full h-full
    group-hover:scale-110 transition-scale duration-1000
    ease-in-out opacity-90 bg-blend-luminosity bg-slate-950/50 bg-center bg-cover
    bg-no-repeat -z-10"
      style="background-image: url('/images/logo.jpg');"
    >
    </div>
    <p slot="content" class="max-w-xl text-justify">
      Dejo mi <strong>portafolio</strong> como parte de mis proyectos recientes
      ya que fue una manera de poder aprender a usar la tecnología de <strong
        >Astro</strong
      >. Un <strong>framework web con mucho potencial</strong> y que es <strong
        >una promesa futura</strong
      > en palabras del <strong
        >gran programador Español Miguel Angel Duran (MiduDev)</strong
      >.
    </p>
    <h4 slot="stack">Tech stack: Astro, HTML, CSS, Tailwind CSS.</h4>
  </BentoItem>
  <BentoItem
    title="Proyectos de Unity"
    subtitle="Programador Junior de Unity"
    class="col-span-12 md:col-span-7"
  >
    <div
      slot="image"
      class="absolute left-0 top-0 bottom-0 w-full h-full
    group-hover:scale-110 transition-scale duration-1000
    ease-in-out opacity-90 bg-blend-luminosity bg-slate-950/50 bg-center bg-cover
    bg-no-repeat -z-10"
      style="background-image: url('/images/unityLearn.webp');"
    >
    </div>
    <p slot="content" class="max-w-xl text-justify">
      He comenzado ya hace unos 2 meses la ruta para certificación de
      <strong>Programador Junior de Unity</strong> en la academia de <strong
        >Unity Learn</strong
      >. Hasta el momento llevo un total de <strong>4 proyectos</strong>
      realizados bajo la guía de profesor de la academia. Todos los proyectos se
      encuentran actualizados gracias a la <strong
        >nueva herramienta de control de versiones de Unity</strong
      >. Muy parecido a como funciona git para los que programamos normalmente
      para web y demas.
    </p>
    <h4 slot="stack">Tech stack: Unity, Blender, C#.</h4>
  </BentoItem>
  <BentoItem title="Fabrica de Functions" class="col-span-12 md:col-span-5">
    <div
      slot="image"
      class="absolute left-0 top-0 bottom-0 w-full h-full
    group-hover:scale-110 transition-scale duration-1000
    ease-in-out opacity-90 bg-blend-luminosity bg-slate-950/50 bg-center bg-cover
    bg-no-repeat -z-10"
      style="background-image: url('/mallplaza.svg');"
    >
    </div>
    <p slot="content" class="max-w-xl text-justify">
      Este proyecto se trata de una <strong
        >extensión de la fabrica de api's</strong
      >. En particular en este proyecto nos dedicamos a <strong
        >crear cloud functions en GCP programadas en NodeJS version 20</strong
      >, para la <strong>correcta integracion entre sap y salesforce</strong> y
      viceversa <strong>en tareas que no requieren de un cloud run</strong>.
    </p>
    <h4 slot="stack">
      Tech stack: NodeJS, GCP: cloud functions | cloud storage.
    </h4>
  </BentoItem>
</section>
