<footer class="flex justify-between px-20 pb-10">
    <div class="flex gap-4 items-center">
        <a href="">Inicio</a>
        <a href="">Acerca de</a>
        <a href="">Tech Stack</a>
        <a href="">Proyectos</a>
        <a href="">Contacto</a>
    </div>
    <h4>Diseñado por <span class="bg-gradient-to-r from-blue-600 via-green-500 to-indigo-400 inline-block text-transparent bg-clip-text">Jimmy Berrios. </span></h4>
</footer>