<footer class="flex flex-col items-center md:flex-row md:justify-between px-10 md:px-20 pb-10 text-sm md:text-base">
    <div class="flex gap-4 items-center">
        <a href="#">Inicio</a>
        <a href="#stack">Tech Stack</a>
        <a href="#projects">Proyectos</a>
    </div>
    <h4>Diseñado por <span class="bg-gradient-to-r from-blue-600 via-green-500 to-indigo-400 inline-block text-transparent bg-clip-text">Jimmy Berrios. </span></h4>
</footer>