---
import Logo from "../components/Logo.astro";
import Icon from "./Icon.astro";
import { LanguageSelector } from "astro-i18next/components";
import i18next, { t, changeLanguage } from "i18next";
let url = "/";
if (i18next.language == "en") {
  url = "/en/";
}
---

<header id="header-nav" class="w-screen top-0 z-50 fixed">
  <nav
    class="flex justify-around flex-col md:flex-row md:justify-center font-bold text-white/30 transition-all md:px-20 py-4 gap-4"
  >
    <div class="flex flex-row justify-center gap-4 items-center">
      <a href={url}>{t("header.nav.home")}</a>
      <a href={url + "#projects"}>{t("header.nav.projects")}</a>
      <a href={url + "#stack"}>{t("header.nav.stack")}</a>
      
    </div>
    <div class="flex flex-row justify-center gap-4 items-center">
      <a href={url + "unityProjects"}>{t("header.nav.unity")}</a>
      <LanguageSelector
        showFlag={false}
        class="rounded-md border bg-[#545454]"
      />
    </div>
  </nav>
</header>
