---
import Logo from "../components/Logo.astro";
import Icon from "./Icon.astro";
import { t } from "i18next";
import { LanguageSelector } from "astro-i18next/components";
---

<header id="header-nav" class="w-screen top-0 z-50 fixed">
  <nav
    class="flex justify-around md:justify-between font-bold text-white/30 transition-all md:px-20 py-4"
  >
    <Logo url="/images/logo.jpg" alt="Logo del canal de youtube" class="w-16 h-16 md:w-20 md:h-20" />
    <div class="flex flex-col md:flex-row gap-8 md:gap-20">
        <div class="flex flex-row  justify-center gap-4 items-center">
          <a href="#">{t("header.nav.home")}</a>
          <a href="#stack">{t("header.nav.stack")}</a>
          <a href="#projects">{t("header.nav.projects")}</a>
          

        </div>
        <div class="flex flex-row justify-evenly gap-4 items-center">
          <Icon
            enlace="https://github.com/JBerriosG"
            url="/github.svg"
            alt={t("icon.github.alt")}
            class="w-8"
          />
          <Icon
            enlace="https://www.linkedin.com/in/jimmy-berrios-718756b1/"
            url="/linkedin.svg"
            alt={t("icon.youtube.alt")}
            class="w-8"
          />
          <LanguageSelector showFlag={false} class="rounded-md border" />
        </div>
    </div>
  </nav>
</header>
