---
import Logo from '../components/Logo.astro';
import Icon from './Icon.astro';
---
<header class="flex w-full">
    <nav class="flex w-full justify-between px-4 py-8 font-bold text-white/30">
        <div class="flex justify-center items-center">
            <Logo url='/images/logo.jpg' alt='Logo del canal de youtube'/>
        </div>
        <div class="flex gap-4 items-center">
            <a href="">Inicio</a>
            <a href="">Acerca de</a>
            <a href="">Tech Stack</a>
            <a href="">Proyectos</a>
            <a href="">Contacto</a>
        </div>
        <div class=" flex justify-around gap-4 items-center">
            <Icon enlace='https://github.com/JBerriosG' url='/github.svg' alt='Logo de github'/>
            <Icon enlace='www.youtube.com/@JimmyDevAndGeek' url='/youtube.svg' alt='Logo de youtube'/>
            <Icon enlace='https://www.instagram.com/jberriosgallo/' url='/Instagram.svg' alt='Logo de instagram'/>
        </div>

    </nav>
</header>