---
interface Props {
    class?:string;
    enlace?: string;
	url: string;
    alt: string;
}

const { url, alt, enlace} = Astro.props;
---
<a href={enlace}>
    <img src={url} alt={alt} class=`${Astro.props.class} hover:scale-125 transition-all`>
</a>