---
import Icon from "./Icon.astro";
---
<section class="flex w-full justify-center items-center py-8">
    <div class="flex flex-col w-[1000px] font-bold text-center">
        <h1 class="text-4xl text-white py-4">Mi Stack Tecnológico</h1>
        <h3 class="text-2xl text-white/30 py-8">Tecnologías que he estado trabajando recientemente</h3>
        <div class="flex justify-between items-center gap-8 py-4 w-full">
            <Icon url="/html5.svg" alt=""/>
            <Icon url="/css.svg" alt=""/>
            <Icon url="/javascript.svg" alt=""/>
            <Icon url="/astro.svg" alt=""/>
            <Icon url="/nodejs.svg" alt=""/>
            <Icon url="/angular.svg" alt=""/>
        </div>
        <div class="flex justify-between items-center gap-8 py-4 w-full">
            <Icon url="/c.svg" alt=""/>
            <Icon url="/java.svg" alt=""/>
            <Icon url="/python.svg" alt=""/>
            <Icon url="/spring.svg" alt=""/>
            <Icon url="/tailwindcss.svg" alt=""/>
            <Icon url="/unity.svg" alt=""/>
        </div>
    </div>
</section>